<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/aboutus.css">
</head>
<body>
    <%- include('./shared/navbar') %>
    <!-- <div class="logo">
        <img src="/images/logo.jpg" alt="ImgDixa">
    </div> -->
    <div class="info">
        <h1>¿Quiénes somos?</h1>
        <p>DIXA es una empresa de diseño y construcción en donde innovamos cada uno de nuestros proyectos con creatividad, modernidad y profesionalismo. Fue fundada en marzo del año 2021 en Colima, México, con presencia y disposición de nuestros servicios en Jalisco, Michoacán y otros estados donde se requiera de nuestras habilidades y experiencia.</p>
    </div>
    <%- include('./shared/footer'); %>
</body>
</html>