<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar imagenes</title>
    <link rel="stylesheet" href="/stylesheets/porfile.css">
</head>

<body>
    <%- include('./shared/navbarProfile'); %>

        <!--subir una imagen-->
        <div class="container">
            <div>
                <!-- action="/profile" method="POST" enctype="multipart/form-data" -->
                <div class="form-group">
                    <h2>Seleccione las imagenes a mostrar</h2>

                    <input type="text" id="title" placeholder="Titulo del Proyecto">
                    <label for="image"></label>
                    <input multiple type="file" name="image" id="image" class="form-control">
                    <!--Generar random serial-->
                    <!-- <textarea name="" id="" cols="30" rows="10" placeholder="Descripcion del Proyecto"></textarea> -->
                </div>
                <button onclick="upload()" class="btn btn-primary">Subir proyecto</button>
            </div>
        </div>







<script>
    async function upload()  {
        const image = document.getElementById('image').files[0]
        
        const body = new FormData()
        body.append("image", image)

        const response = await fetch("https://api.imgbb.com/1/upload?key=a6a3c5788e03a71b2b9a1e88c5951f48", {
            body,
            
            method: "POST"
        })
        const { data } = await response.json()

        const title = document.getElementById('title').value
       
        const res = await fetch("/profileUs/create/post", {
            body: JSON.stringify({
                title,
                image: data
            }),
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            }
        })
        location.href = '/'
    }
</script>
</body>

</html>